body {
    width: 100%;
    background-color: rgb(33, 56, 58);
    color: white;
    margin: 0;
}

#mainNavbar {
    display: block;
    float: right;
    margin-left: 0px;
}

.navbar-nav {
    display: flex;
    float: right;
    font-size: 22px;
    justify-content: space-between;
    padding: 12px
}

.navbar-nav li {
    margin-left: 10px;
    margin-right: 10px;
}

h1, h5 {
    display: inline-flex;
    white-space: nowrap;
    color:rgb(250, 173, 109);
}

.contact ul {
    display: block;
    text-align: center;
    margin-left: -40px;
    list-style-type: none;
}

footer {
    max-width: 100%;
    margin-top: 22px;
}

.webTitle {
    margin-left: 20px;
}

.intro {
    display: flex;
    justify-content: center;
    margin-top: 40px;   
}

.myPicture {
    display: flex;
    justify-content: center;
}